<div class="a-container">
  <ul class="about">
    <li class="logo">
      <img src="../images/undertale_logo.png" alt="Undertale"></img>
    </li>

    <li id="xscr1">
      <p>... is an RPG for PC and Mac</p>
    </li>

    <li id="xscr2">
      <img src="../nscreens/xscreen0img.png"></img>
        <p>Long ago, two races<br> 
          ruled over Earth:<br>
          HUMANS and MONSTERS.
        </p>
      <img src="../nscreens/xscreen9.png"></img><br><br>
    </li>

    <li id="xscr3">
      <p>In this RPG, you don't have to kill anyone.<br><br>
        Each enemy can be "defeated" nonviolently.<br><br>
        Dance with a slime. Pet a dog. Whisper your<br>
        favorite secret to a knight.<br><br>
        Or, ignore this choice and rain<br>
        destruction upon your foes.
      </p>
    </li>

    <li id="xscr4">
      <img class="left" src="../nscreens/xscreen2.png"></img>
      <img src="../nscreens/xscreen3.png"></img><br><br>
    </li>

    <li id="xscr5">
      <p>But your journey will take determination.<br><br>
        Each adversary has unique bullet patterns<br>
        that you must dodge as well.<br>
      </p>
      <span>(Don't worry, it's not that hard.)</span>
    </li>

    <li id="xscr6">
      <img src="../nscreens/xscreen4.png"></img><img src="../nscreens/xscreen5.png"></img>
    </li>

    <li id="xscr7">
      <p>Emphasis on humor, character dialogue,<br>
        and player choice.  
      </p>
      <p>Average playtime: 6 hours.</p>
    </li>
    <li id="xscr8">
      <img src="../nscreens/xscreen6.png"></img>
      <img src="../nscreens/xscreen7.png"></img>
    </li>

    <li id="xscr9">
      <img src="../nscreens/xscreenC.png"></img><br><br>
    </li>

    <li id="xscr10">
      <p>Don't know why...<br>
        But a lot of people love this game...<br><br>
        Who knows. You may love it too.
      </p>
    </li>
    <li id="xscr11">
      <img src="../nscreens/xscreen8.png"></img><br><br>
        <br><br>
    </li>
    <li id="xscr12">
      <p>So, did you learn what the game's about?</p>  
      <p>Hmm.</p>
      <p>Well, it's too late</p>
      <p>There's no "BACK" button on this page.</p>
      <p>You're going to be trapped here...</p>
      <p>For ALL ETERNITY!!!</p>
      <p>
        Urrahhh ha ha ha!!<br>
        This ABOUT PAGE is gonna be your GRAVE!
      </p>
      <h2 id="a-lol">AHAHAHAHAHAHAHAHAHAHAHAHAHAH!!!</h2>
      <p id="xscr12-end">Oh! And here's my Twitter.</p>
    </li>
  </ul>
</div>