<div class="container">
  <div id="header">
    <header>
      {{#link-to 'undertale'}}
      <img id="logo" src="../images/undertale_logo.png">
      {{/link-to}}
      <nav class="navbar navbar-default mymenu" role="navigation">
        <ul class="nav navbar-nav row">
        <!--      About-->
          <li id="nav_about" class="Y-a" data-id="about">
            {{#link-to 'about'}}ABOUT{{/link-to}}
          </li>
        <!--      DEMO-->
          <li id="nav_demo" class="Y-a">
            {{#link-to 'demo'}}DEMO{{/link-to}}
          </li>
        <!--      External Merch-->
          <li id="nav_merch">
            <a href="http://www.fangamer.com/collections/undertale" 
               data-toggle="modal" href="#myModal">
              MERCH<br>
            <span>new!</span></a>
          </li>
        <!--      Contact-->
          <li id="nav_contact" class="Y-a">
            {{#link-to 'contact'}}CONTACT{{/link-to}}
          </li>
        <!--      FAQ-->
          <li id="nav_faq" class="y-a">
            {{#link-to 'faq'}}FAQ!{{/link-to}}
          </li>
        <!--      Fan Page-->
          <li>
            {{#link-to 'mailbox'}}Beta-Fan Messages!{{/link-to}}
          </li>
          <!--      Gallery Page-->
          <li>
            {{#link-to 'gallery'}}Beta Gallery{{/link-to}}
          </li>
          <!--      Musicbox Page-->
          <li>
            {{#link-to 'musicbox'}}Beta ♫Musicbox♫{{/link-to}}
          </li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="page">
    {{outlet}}
    {{outlet 'modal'}} <!--Modal Beta Module-->
  </div>
  <div id="footer">
  <footer>
      <nav>
        <ul>
           <li>
              {{#link-to 'troubleshoot'}}<!--TROUBLESHOOTING-->
                <img src="images/troubleshoot.png">
              {{/link-to}}
           </li>
           <li>
              <a href="http://twitter.com/undertale">
                <img src="images/twitterbutton.png"></a>

              <a href="http://undertale.tumblr.com/">
                <img src="images/tumblrbutton.png"></a>

              <a href="http://store.steampowered.com/app/391540">
                <img src="images/steambutton.png"></a>
           </li>
        </ul>
      </nav>
  </footer>
  </div><!--End Bottom-Navigation-->
</div>