<div class="contact">
    <p>DISCLAIMER:</p>
    <div id="c-piece-1">
      <p>
        If you are emailing because the game won't launch on STEAM, please read below before e-mailing.
      </p><br>
      <p>
        The latest version of Steam Client Beta seems to
        have compatibility issues with UNDERTALE on
        some Windows computers.
      </p><br>
      <p>
        If UNDERTALE's suddenly stopped launching on Steam,<br>
				try reverting to the normal version of the
        Steam Client.
      </p><br>
      <p>
        Steam-> Settings-> Beta Subscription
      </p><br>
    </div>
    <div id="c-piece-unrelated" >
      {{#link-to 'faq'}}
        <p>
          IF YOU HAVE A QUESTION<br>
          UNRELATED TO THE GAME'S<br>
          PERFORMANCE, PLEASE READ<br>
          CLICK HERE TO READ THE FAQ<br>
          BEFORE YOU E-MAIL.
        </p><br>
        <p>
         (When reporting issues,<br>
          please state your OS and if<br>
          you are using Steam.)
        </p><br>
      {{/link-to}}
    </div>
   <div id="c-piece-email">
     <img src="../images/contact_page_fix.png">
   </div>
    <p>
       (Ah... were you hoping you could<br>
       copy and paste it...?)
       <br><br>
       (Sorry.)
       <br><br>
       (Life's not that easy.)
     </p>
</div>