<div class="contact">
    <p>DISCLAIMER:</p>
    <div id="c-piece-1">
      <p>
        If you are emailing because the game won't launch<br>
        on STEAM, pleaese read below before e-mailing.
      </p><br>
      <p>
        The latest version of Steam Client Beta seems to<br>
        have compatibility issues with UNDERTALE on<br>
        some Windows computers.
      </p><br>
      <p>
        If UNDERTALE's suddenly stopped launching on<br>
        Steam, try reverting to the normal version of the<br>
        Steam Client.
      </p><br>
      <p>
        Steam-> Settings-> Beta Subscription
      </p><br>
    </div>
    <div id="c-piece-unrelated" >
      {{#link-to 'faq'}}
        <p>
          IF YOU HAVE A QUESTION<br>
          UNRELATED TO THE GAME'S<br>
          PERFORMANCE, PLEASE READ<br>
          CLICK HERE TO READ THE FAQ<br>
          BEFORE YOU E-MAIL.
        </p><br>
        <p>
         (When reporting issues,<br>
          please state your OS and if<br>
          you are using Steam.)
        </p><br>
      {{/link-to}}
    </div>
   <div id="c-piece-email">
     <img src="../images/contact_page_fix.png"></img>
     <p>
       (Ah... were you hoping you could<br>
       copy and paste it...?)
       <br><br>
       (Sorry.)
       <br><br>
       (Life's not that easy.)
     </p>
   </div>
  <footer>
    <nav>
      <ul>
        <li id="backToFront">
          {{#link-to 'hub'}}
            <p>Back to Front</p>
          {{/link-to}}
        </li>
      </ul>
   </nav>	  	  
 </footer>
</div>