<div class="yes">

	<title>UNDERTALE Delicious Free Sample</title>

	<center>
	<img src="../images/demo_a.png"><br><br>
	<br><br>

	<!-- link -->

	<a href="../game/UndertaleDemo.zip" ><img src="../images/demob_1.png"></a><br><br>
	<a href="../game/MacUnderTale.zip" ><img src="../images/demob_2.png"></a><br><br>
	<a href="../game/UndertaleDemo_k.zip" ><img src="../images/demob_3.png"></a><br><br>

	<br><br>

<!--	<img src="../images/demo_c.png"><br><br>-->
	<p>
		!NOTE: DEMO was created on older software with different capabilities.<br>

			Therefore, may not be 100% indicate of full game.<br>
			<span>
				However, It's slightly special in some respects...
			</span>
			<br>
			<br>
		!NOTE:  Save file won't transfer from DEMO to fullgame.<br>
		<span>
			But the DEMO is so short you really won't care...
		</span>
	</p>
	</center>

</div>