<title>Fan Mail</title>

<h2>UNDER CONSTRUCTION</h2>

<p>This Page is to evolve into perhaps a Chat/ Mail interface, Visitors and fans alike may leave messages n comments for the Devs as well as Designers (currently this cat rebuilding the site). Start Discussions perhaps, thou the idea of leaving notes n Fanmail sounds more appealing more than anything.</p>
<p>"This is one of the last 3 pieces to be implemented"</p>

<h2>Inbox</h2>

{{#each letters}}
  <p>{{text}}</p>
{{/each}}

<p>{{#link-to 'newmail' this.id class="btn btn-default"}}New Mail{{/link-to}}</p>

{{outlet}}