<h1>Undertale Gallery</h1>
<ul>
  <li>
    <button id="showFlickr" class="btn btn-primary">Flickr Top 20 Undertale</button>
    <button id="showTumblr" class="btn btn-primary">Tumbrl Undertale</button>
  </li>
</ul>
<div>
  <ul id="display"></ul>
</div>