<div id="gPage">

  <h1>Art Collection</h1>
  <ul>
    <li>
      <button id="showFlickr" class="btn btn-primary ctrl">Flickr Top 20 Undertale</button>
      <button id="showTumblr" class="btn btn-primary ctrl">Tumbrl Undertale</button>
    </li>
  </ul>
  <div id="tumblr"></div>
  <div id="flickr"></div>
</div>