<div id="gPage">

  <h1>Art Collection</h1>
  <ul>
    <li>
      <button id="showTumblr" class="btn btn-primary ctrl">Tumbrl Undertale</button>
      <button id="showArtist1" class="btn btn-primary ctrl">Charadreernurr</button>
      <button id="showArtist2" class="btn btn-primary ctrl">Asgore Mememurr</button>
      <button id="showFlickr" class="btn btn-primary ctrl">Flickr Top 20 Undertale</button>
    </li>
  </ul>
  <div id="tumblr"></div>
  <div id="artist1"></div>
  <div id="artist2"></div>
  <div id="flickr"></div>
</div>