<title>Fan Mail</title>

<h2>UNDER CONSTRUCTION</h2>

<p>This Page is to evolve into perhaps a Chat/ Mail interface, Visitors and fans alike may leave messages n comments for the Devs as well as Designers (currently this cat rebuilding the site). Start Discussions perhaps, thou the idea of leaving notes n Fanmail sounds more appealing more than anything.</p>
<p>"This is one of the last 3 pieces to be implemented"</p>

<h2>Inbox</h2>

<p><a href="#" {{action 'sortByRecent'}}>Sort by Recent</a></p>

<p>{{#link-to 'new-mail' classNames="btn btn-primary"}}New Mail{{/link-to}}</p>

{{outlet}}

<!--Fanmail is the Placeholder page-->
<!--Mailbox (recent-comments) All collective letters -->
<!--NewMail () All collective letters -->
<ul>
  {{#each}}
    <li>{{user}} : {{text}}</li>
  {{/each}}
</ul>