<title>Undertale Shop</title>

<h2>UNDER CONSTRUCTION</h2>

<p>This Page is now going under Contruction (Pending), Purpose, To reflect the In-game UI with Real Interactions, Creating a Surreal User Experience</p>
<p>This is one of the last *4 pieces to be implemented</p>

<img src="http://vignette2.wikia.nocookie.net/undertale/images/c/cd/C_and_b.png/revision/20151014090950"><br>
<img src="http://3.bp.blogspot.com/-7Im0Uou55vU/VqVbMZjo_sI/AAAAAAABBYM/OXKucWb0jHQ/s1600/Undertale_%2528PC%2529_71.png">