<div id="musicbox">
  <title>Undertale Music Box</title>
  
  <h3>~Slide Me~</h3>
  
  <iframe style="border:none" src="http://files.podsnack.com/iframe/embed.html?hash=a1klwktt&t=1458754511" width="600" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" class="tunePod"></iframe>
  
  <h3>Spotify Me</h3>
  
  <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A16JoyN6Wa1P623KlqS8COY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  
  
</div>
