<div id="musicbox">
  <title>Undertale Music Box</title>

  <h2>UNDER CONSTRUCTION</h2>

  <p>This page here is something special, soon to be utilized as a Collective Music list filled with OST's, Fan made Mixes as well as Original Content, all packed in one place for ease of access so that Visitors can chill to their favorite ear worms.</p>
  
  <p>This is one of the last 3 pieces to be implemented</p>
  
<!--
  <div class='spotify-container'>
    <iframe src='https://embed.spotify.com/?uri=spotify:track:1y5yQktjyLZ7hxffCmrLmN' frameborder='0' allowtransparency='true'></iframe>
  </div>
-->
</div>

<div>
  
<p>This is a Music listign Design Pulled via Github and will be utilized for construction here with Undertale, Ready to make some magic? </p>
  
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <title>Ember Tunes</title>
    <meta name="author" content="David Goodlad <david@goodlad.ca>">

    <link rel="stylesheet" href="../css/screen.css" media="screen, projection">
    <link rel="stylesheet" href="../css/fancypants.css" media="screen, projection">
  </head>
  <body>

      {{render 'playlist' playlist}}
      {{outlet}}

</div>