<form>
  <div class="form-group">
    <label for="text">Your Thoughts:</label>
    {{textarea value=text id="text" class="form-control" rows='3'}}
  </div>
  <button class="btn btn-primary ctrl" {{action 'save'}}>
      Post Reply</button>
</form>