<form>
  <div class="form-group">
    <label for="text">Your Thoughts:</label>
    {{textarea value=text id="text" class="form-control" rows='5'}}
  </div>
  
  <button class="btn btn-primary" {{action 'save'}}>Post</button>
</form>