<h2>Speak Out!</h2>

<form {{action 'save' on='submit'}}>
  <div class="form-group">
    <label for="user">Enter Pin Name:</label>
    {{input id="user" class="form-control" value=user 
        placeholder="Sir Pin Head" maxlength="25" required="required"}}
    <span>Enter a Name at least 3 characters long</span>
  </div>
  <div class="form-group">
    <label for="text">
      Leave mail for the Devs and Designers to see:
    </label>
    {{textarea id="text" class="form-control" value=text rows='4'
        placeholder="Oh Hi There, This is random text to let you know what you Shouldn't do ;D" maxlength="200" required="required"}}
    <span>Text must be at least 10 characters long</span>
  </div>
  
    {{input id="save" class="btn btn-primary ctrl" type="submit" value="Save mail :D"}}
</form>