<script type="text/x-handlebars" data-template-name="playlist">
      <h1>Playlist</h1>
      {{render player}}
      <ul class="albums">
        {{#each controller itemController="playlistAlbum"}}
          <li {{bindAttr class=":album current"}}>{{template "album"}}</li>
        {{/each}}
      </ul>
    </script>