<div id="merch">
  <a href="http://store.steampowered.com/app/391540"><img src="../images/available.png"></a>
  <a href="http://www.fangamer.com/collections/undertale"><img src="../images/available_m.png"></a>
</div> <!--End Merch Div-->
<div class="media">
  <iframe width="600" height="340" src="https://www.youtube.com/embed/1Hojv0m3TqA" frameborder="0" allowfullscreen></iframe>
</div> <!--End Media div-->
<div id="purchase">
  <iframe	src="https://www.humblebundle.com/widget/v2/product/undertale/Udhd7SYgds?theme=dark" scrolling="no">
  </iframe>
  <iframe src="https://www.humblebundle.com/widget/v2/product/undertale_soundtrack/Udhd7SYgds?theme=dark" scrolling="no">
  </iframe>
  <iframe src="https://www.humblebundle.com/widget/v2/product/undertale_withsoundtrack/Udhd7SYgds?theme=dark" scrolling="no">
  </iframe>
</div> <!--End Purchase div-->
  
  <!--Secret Note down below left by the Original Designer, ;p not going to erase such magical remnants-->
  <!--- What are you doing? 
  Looking for secrets?

  Don't put your nose where it doesn't belong.

  Or you might learn something you DON'T like...

  Hee hee hee. ---><!--- Undertale and all associated characters (C) Toby Fox 2013-2015. Java by rich. --->