@font-face {
	font-family:'DTM-Sans';
		src:url("../font/dtm-sans.otf");
	
/*
   font-family:'DeterminationMonoWeb';
		src:url("../font/DeterminationMonoWeb.woff");
		
	font-family:'DeterminationSansWeb';
		src:url("../font/DeterminationSansWeb.woff");
			
	font-family:'DTM-Mono';
		src:url("../font/DTM-Mono.opentype");
	
	font-family:'MonsterFriendBack';
		src:url("../font/MonsterFriendBack.opentype"); 
			
	font-family:'MonsterFriendDeluxe';
		src:url("../font/MonsterFriendDeluxe.svg");
*/
}

/*I have no idea what this is for*/

.pad1 {
	min-width: 120px; width: 120px; min-height: 128px; height: 68px; display: inline-block;
}
.pad2 {
	min-width: 127px; width: 127px; min-height: 128px; height: 68px; display: inline-block;
}
.flowey {
	min-width: 88px; width: 88px; background-image: url(../images/floweyBIG.png);  background-repeat: no-repeat; min-height: 121px; height: 61px; display: inline-block;
}
body:after{
    display:none;
    content: url(../images/floweyBIG.png) url(../images/floweymoneyeyesBIG.png) url(../images/floweyhappyBIG.png) url(../images/floweymoneyeyesBIG.png) url(../images/floweymoneyeyesBIG2.png) url(../images/floweycuteBIG.png) url(../images/floweycoolBIG.png) url(../images/floweywinkBIG.png);
}
/*Adding CSS*/

/***************************
	 		Base Styles
****************************/

* {
	box-sizing: border-box;
}

body {
	font-family: dtm-sans;
	margin: auto;
	background: black;
	text-align: center;
	color: white;
}

ul  {
	list-style: none;
}

iframe {
	 border-style: none;
	 border: 0;
}

/***************************
	 		Links
****************************/
a {
  text-decoration: none;
}

/*
a:link{}
a:hover{}
a:active{}
a:visited{}
*/

/***************************
	 		Header
****************************/

#myMenu li {
  width: 154px;
  height: 86px;
  font-size: 2.4rem;
}

.y-a:visited,
.y-a:link {
  color: yellow;
}

#nav_merch a:visited,
#nav_merch a:link {
  color: #fdb2bf;
}

#nav_merch a p {
  margin: 0;
}
#nav_merch a span {
  font-size: .5em;
}

/***************************
	 		 Index
****************************/
.frameT,
.frameM {
  height: 21rem;
}

.frameT {
	 width: 462px;
}

.frameM {
	 width: 456px;
}

/***************************
	 		 About
****************************/

.a-container {
	font-size: 1.9rem;
	word-spacing: -2px;
	margin-bottom: -100px
}

about li img {
	align-content: center;
	width: 740px;
	padding-left: 0px;
	font-size: 2px;
}

#xscr2 p {
	letter-spacing: 3px;
	word-spacing: 1px;
}

#xscr5 span {
	padding-top: 50%;
	word-spacing: -3px;
	color: grey;
	font-size: 1rem;
}

#xscr5,
#xscr8 {
	margin-bottom: .7em;
}

#xscr12 p {
	margin-bottom: 9.6rem;
}

#a-lol {
	letter-spacing: -2px;
}

#xscr12-end {
	margin-top: 27em;
}

/***************************
	 		Contact
****************************/

.contact p {
  font-family: dtm-sans;
  font-size: 1.6rem;
}
/*Div Piece Customs*/

#c-piece-1 {
  font-size: .63em;
  width: 660px;
  margin: auto;
  text-align: left;
}

#c-piece-unrelated a:link,
#c-piece-unrelated a:visited {
  color: #007cd1;
}

#c-piece-email {
  color: grey;
  font-size: 1em
}

#c-piece-email img {
  max-width: 100%;
}

#backToFront,
#backToFront a:visited,
#backToFront a:link {
  color: yellow;
}

/***************************
	 	     FAQ
****************************/
#faq {
  font-size: 2rem;
  width: 70%;
  margin: auto;
}

#faq-p h1 {
  font-size: 3rem;
}

#faq,
#faq-p h1 {
  text-align: left;
}

/***************************
	 	 Troubleshoot
****************************/

.left {
	 text-align: left;
}

/***************************
	 Universal Classes
****************************/

.page {
	 width: 100%;
}

.hide {
	 display: none;
}

#tune {
	position: fixed;
	bottom: 0;
	left: 0;
	display: none ;
}

/***************************
	 			Flexbox
****************************/

.flexbox, 
.purchase,
.media,
.merch,
.a-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Columns*/
.flexbox,
.media {
	 flex-direction: row;
}
/*Rows*/
.purchase,
.merch,
.a-container {
  flex-flow: column;
	justify-content: er;
}
/*Individual Customs*/

/***************************
	 		Footer
****************************/


/***************************
	 		Media Queries
****************************/

@media(min-width:1024px) {
	#xscr4 {
		justify-content: space-between;
	}
}
	

/*Testing*/

#main-page {
  position: fixed;
  top: 0;
  z-index: 100;    
    -webkit-filter: blur(10px);     
    filter: blur(10px);
}

.overlaywhite {
		display:none;
		position:fixed;
		top:0;
		width:100%;
		height:100%;
		background:url(../img/menu-bkgrd.jpg);
		z-index:1000;
		color:#ccc;
		overflow-y:scroll;
}