/***************************
	 		 Base Styles
****************************/
@font-face {
	font-family:'DTM-Sans';
		src:url("../fonts/dtm-sans.otf");
	}

* {
	box-sizing: border-box;
}

body {
	font-family: dtm-sans;
  margin-right: auto;
  margin-left: auto;
	background: black;
	text-align: center;
	color: rgba(255, 255, 255, 0.79);
}

ul  {
	list-style: none;
	padding: 0;
}

iframe {
	 border-style: none;
	 border: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}


/***************************
	 	Universal Classes
****************************/


/***************************
	 			Header
****************************/

#logo,
.mymenu {
	width:  100%;
}

.mymenu  {
  font-size: 1.8rem;
	text-shadow: 0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.mymenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#nav_merch,
#nav_merch a:visited,
#nav_merch a:link {
  color: #fdb2bf;
}

#nav_merch a span {
  font-size: .8em;
}

/***************************
	 		 	 HUB
****************************/

img[src*="available"] {
  width: 100%;
  max-width: 574px;
  max-height: 205px;
}

/***************************
	 		 	About
****************************/
#about {
	font-size: 2rem;
/*	font-size: 2.7rem*/
  letter-spacing: 3px;
  word-spacing: 1px;
}

img[src*="xscreen"],
img[src*="logo"]{
	width: 100%;
	min-height: 6em;
	margin-bottom: 1.7rem;
  margin-top: 1.7rem;
}

#xscr5 span {
	padding-top: 50%;
	word-spacing: -1px;
	color: grey;
	font-size: 1rem;
}

#xscr12 p {
	margin-bottom: 9.6rem;
}

#xscr12-end {
	margin-top: 27em;
}

#laugh{
	
	font-size: 2rem;
	letter-spacing: -.6px;
}


/***************************
	 		 	DEMO
****************************/
.yes {
	width: 80%;
	margin: auto;
}

img[src*="demo"] {
	width: 70%;
}

img[src*="demo_a"] {
	width: 80%;
}
.yes p {
	letter-spacing: 1px;
	margin-bottom: 3em;
}
.yes p span {
	color: grey;
	text-align: left;
	font-size: 1.5rem; 
}

/***************************
	 		 Contact
****************************/

.contact {
	font-size: 2.4rem;
}

img[src*="fix"] {
	width: 100%;
	min-height: 6em;
}

div#c-piece-email p {
	width: 531px;
	margin-bottom: 2em;
}

div#c-piece-1 p,
div#c-piece-email,
div#c-piece-email p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#backToFront p {
	color: yellow;
}

/***************************
	 	     FAQ
****************************/

#faq ul{
	text-align: left;
	font-size: 1.58rem;
	margin-left: 3.58em;
	margin-bottom: 2em;
}

#faq h1 {
	text-align: left;
}

/***************************
	 		 Fan Mail
****************************/

a:link[href*="mailbox/mails"],
a:visited[href*="mailbox/mails"] {
	color: white;
	text-underline-position: none;
	border-bottom: dotted 1.5px;
}

ul > li, 
#mails {
	margin-bottom: 10px;
}

div > h5 {
  font-size: 3em;
}

div > h5:after {
  content: url(../images/mail.ico.png);
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 6rem;
}

.ctrl { /* Color of the buttons*/
  width: 25rem;
  background: #262626;
}

button.btn.btn-info.ctrl { /* Reply button */
  margin-bottom: 23px;
}

/***************************
	 		 Gallery
****************************/

#gPage {
  background-image: url(../images/backSound.gif);
}

#flickr,
#tumblr {
  opacity: .7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#flickr img,
#tumblr img {
  width: 96%;
  /*  img Glow*/
  -webkit-box-shadow: -4px 0px 233px -2px rgba(255,255,255,0.31);
  -moz-box-shadow: -4px 0px 233px -2px rgba(255,255,255,0.31);
  box-shadow: -4px 0px 233px -2px rgba(255,255,255,0.31);
  /* Border Decor*/
  border-radius: 60px 60px 60px 60px;
  -moz-border-radius: 60px 60px 60px 60px;
  -webkit-border-radius: 60px 60px 60px 60px;
  border: 10px ridge #595959;
}

/***************************
	 		 MusicBox
****************************/


/***************************
	 	 Troubleshoot
****************************/


/***************************
	 			Footer
****************************/

footer {
  margin-top: 2em;
}

/***************************
	 			Flexbox
****************************/


/***************************
	 		Media Queries
****************************/

@media (min-width: 640px){
  body {
/*    background: red;*/
  }
  
  /* Tuned Gallery */
  #tumblr,
  #flickr {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  #tumblr img,
  #flickr img {
    max-width: 300px; 
  }
  
} /*End Query*/

@media (min-width: 1024px){
  body {
    background: blue;
  }
}