/***************************
	 		 Base Styles
****************************/
@font-face {
	font-family:'DTM-Sans';
		src:url("../fonts/dtm-sans.otf");
	}

* {
	box-sizing: border-box;
}

body {
	font-family: dtm-sans;
  margin-right: auto;
  margin-left: auto;
	background: black;
	text-align: center;
	color: rgba(255, 255, 255, 0.79);
}

ul  {
	list-style: none;
	padding: 0;
}

iframe {
	 border-style: none;
	 border: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}


/***************************
	 	Universal Classes
****************************/


/***************************
	 			Header
****************************/

#logo,
.mymenu {
	width:  100%;
}

.mymenu  {
  font-size: 1.8rem;
	text-shadow: 0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


#nav_merch,
#nav_merch a:visited,
#nav_merch a:link {
  color: #fdb2bf;
}

#nav_merch a span {
  font-size: .8em;
}

/***************************
	 		 	 HUB
****************************/



/***************************
	 		 	About
****************************/
#about {
	font-size: 1.6rem
/*	font-size: 2.7rem*/
		letter-spacing: 3px;
		word-spacing: 1px;
}

img[src*="xscreen"],
img[src*="logo"]{
	width: 100%;
	min-height: 6em;
	margin-bottom: 1.7rem;
  margin-top: 1.7rem;
}

#xscr5 span {
	padding-top: 50%;
	word-spacing: -1px;
	color: grey;
	font-size: 1rem;
}

#xscr12 p {
	margin-bottom: 9.6rem;
}

#xscr12-end {
	margin-top: 27em;
}

#laugh{
	
	font-size: 2rem;
	letter-spacing: -.6px;
}


/***************************
	 		 	DEMO
****************************/
.yes {
	width: 80%;
	margin: auto;
}

img[src*="demo"] {
	width: 70%;
}

img[src*="demo_a"] {
	width: 80%;
}
.yes p {
	letter-spacing: 1px;
	margin-bottom: 3em;
}
.yes p span {
	color: grey;
	text-align: left;
	font-size: 1.5rem; 
}

/***************************
	 		 Contact
****************************/

.contact {
	font-size: 2.4rem;
}

img[src*="fix"] {
	width: 100%;
	min-height: 6em;
}

div#c-piece-email p {
	width: 531px;
	margin-bottom: 2em;
}

div#c-piece-1 p,
div#c-piece-email,
div#c-piece-email p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#backToFront p {
	color: yellow;
}

/***************************
	 	     FAQ
****************************/

#faq ul{
	text-align: left;
	font-size: 1.58rem;
	margin-left: 3.58em;
	margin-bottom: 2em;
}

#faq h1 {
	text-align: left;
}

/***************************
	 		 Fan Mail
****************************/

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 6rem;
}

/***************************
	 		 Gallery
****************************/


/***************************
	 		 MusicBox
****************************/


/***************************
	 	 Troubleshoot
****************************/


/***************************
	 			Footer
****************************/


/***************************
	 			Flexbox
****************************/


/***************************
	 		Media Queries
****************************/