/***************************
	 		 Base Styles
****************************/
@font-face {
	font-family:'DTM-Sans';
		src:url("../fonts/dtm-sans.otf");
	}

@font-face {
  font-family: "8bitoperator Regular";
  src:url("../fonts/fonts8bitoperator.eot?") format("eot"),
      url("../fonts/8bitoperator.woff") format("woff"),
      url("../fonts/8bitoperator.ttf") format("truetype"),
      url("../fonts/8bitoperator.svg#8bitoperatorRegular") format("svg");
  font-weight:normal;
  font-style:normal;
}


* {
	box-sizing: border-box;
}

body {
	font-family: dtm-sans;
  margin-right: auto;
  margin-left: auto;
	background: black;
	text-align: center;
	color: rgba(255, 255, 255, 0.79);
}

ul  {
	list-style: none;
	padding: 0;
}

iframe {
	 border-style: none;
	 border: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}


/***************************
	 	Universal Classes
****************************/


/***************************
	 			Header
****************************/

.mymenu  {
  font-size: 1.8rem;
	text-shadow: 0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#nav_merch,
#nav_merch a:visited,
#nav_merch a:link {
  color: #fdb2bf;
}

#nav_merch a span {
  font-size: .8em;
}

/***************************
	 		 	 HUB
****************************/
#hub div {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

#hub iframe {
  margin-top: 20px;
}

img[src*="available"] {
  width: 100%;
  max-width: 574px;
  max-height: 205px;
}

iframe[src*='youtube'] {
  width: 80%;
  height: 300px;
}

#purchase iframe {
  min-height: 200px;
  min-width: 320px;
}

/***************************
	 		 	About
****************************/
#about {
	font-size: 2rem;
  letter-spacing: 3px;
  word-spacing: 1px;
}

img[src*="xscreen"],
img[src*="logo"] {
	width: 100%;
	min-height: 6em;
	margin-bottom: 1.7rem;
  margin-top: 1.7rem;
}

#xscr5 span {
	padding-top: 50%;
	word-spacing: -1px;
	color: grey;
	font-size: 1.3rem;
}

#xscr12 p {
	margin-bottom: 9.6rem;
}

#xscr12-end {
	margin-top: 27em;
}

#laugh {
	font-size: 2rem;
	letter-spacing: -.6px;
}


/***************************
	 		 	DEMO
****************************/

.yes {
	width: 80%;
	margin: auto;
}

img[src*="demo"] {
	width: 70%;
}

img[src*="demo_a"] {
	width: 100%;
}

.yes p {
	letter-spacing: 1px;
	margin-bottom: 3em;
  font-size: 2rem;
}

.yes p span {
	color: grey;
	text-align: left;
	font-size: 1.5rem; 
}

/***************************
	 		 Contact
****************************/

.contact {
	font-size: 2.4rem;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

img[src*="fix"] {
	width: 70%;
	min-height: 6em;
}

div#c-piece-email p {
	width: 531px;
	margin-bottom: 2em;
}

div#c-piece-1 p,
div#c-piece-email,
div#c-piece-email p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#backToFront p {
	color: yellow;
}

#c-piece-unrelated a {
  color: #03abfe;
}

/***************************
	 	     FAQ
****************************/

#faq {
  display: flex;
  flex-flow: column;
}

#faq ul{
	text-align: left;
	font-size: 1.58rem;
	margin-left: 3.58em;
	margin-bottom: 2em;
}

#faq h1 {
	text-align: left;
}

/***************************
	 		 Fan Mail
****************************/

a:link[href*="mailbox/mails"],
a:visited[href*="mailbox/mails"] {
	color: white;
	text-underline-position: none;
	border-bottom: dotted 1.5px;
}

.mailbox {
  font-size: 1.7rem;
}

.mailbox h3 {
  color: rgba(255, 255, 255, 0.98);
  text-shadow:  3px 0 0 #272727, -3px 0 0 #272727,
                0 3px 0 #272727, 0 -3px 0 #272727,
                2px 2px #6100ad, -2px -2px 0 #6100ad,
                2px -2px 0 #6100ad, -2px 2px 0 #6100ad;
  font-size: 3rem;
  margin-bottom: 15px;
}

ul > li, 
#mails {
	margin-bottom: 10px;
}

div > h5 {
  font-size: 3em;
}

div > h5:after {
  content: url(../images/mail.ico.png);
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 6rem;
}

.ctrl { /* Color of the buttons*/
  width: 25rem;
  background: #262626;
}

button.btn.btn-info.ctrl { /* Reply button */
  margin-bottom: 23px;
}

/***************************
	 		 Gallery
****************************/

#gPage {
  background-image: url(../images/backSound.gif);
}

#flickr,
#tumblr {
  opacity: .7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#flickr img,
#tumblr img {
  width: 96%;
  /*  img Glow*/
  -webkit-box-shadow: -4px 0px 233px -2px rgba(255,255,255,0.31);
  -moz-box-shadow: -4px 0px 233px -2px rgba(255,255,255,0.31);
  box-shadow: -4px 0px 233px -2px rgba(255,255,255,0.31);
  /* Border Decor*/
  border-radius: 60px 60px 60px 60px;
  -moz-border-radius: 60px 60px 60px 60px;
  -webkit-border-radius: 60px 60px 60px 60px;
  border: 10px ridge #595959;
}

/***************************
	 		 MusicBox
****************************/

#musicbox {
  font-family: '8bitoperator Regular';
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#musicbox iframe {
  max-width: 100%;
}

/***************************
	 	 Troubleshoot
****************************/


/***************************
	 			Footer
****************************/

footer {
  margin-top: 2em;
}

/***************************
	 			Flexbox
****************************/


/***************************
	 		Media Queries
****************************/

@media (min-width: 640px){

  /* Tuned Gallery */
  #tumblr,
  #flickr {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  #tumblr img,
  #flickr img {
    max-width: 40rem; 
  }
  
  #purchase iframe {
    width: 400px;
    
  }
  
}

/***************************
	 		Width 768px
****************************/

@media (min-width: 768px){
  
  #purchase iframe {
    width: 500px;
    height: 320px;
  }
  
  .container {
    width: 95%;
  }
  
  .mymenu, 
  .nav,
  #musicbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .mymenu, 
  .nav {
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  #musicbox {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  #musicbox iframe[src*='podsnack'] {
    -webkit-flex: 2 0 0; 
    flex: 3 0 0;
    padding: 0 10px;
  }
  
  #musicbox iframe[src*='spotify'] {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }
}

/***************************
	 		Width 960px
****************************/

@media (min-width: 960px) {
  .mymenu li,
  .mailbox {
    font-size: 2.2rem;
  }
  
}

/***************************
	 		Width 1024px
****************************/

@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
  
  #purchase iframe {
    width: 700px;
    height: 320px;
  }
  
  iframe[src*='youtube'] {
  max-width: 600px;
  height: 300px;
}
  
  /*About adjust*/
  #about p {
    font-size: 3.5rem;
  }
  #about li span {
    font-size: 2rem;
  }
  
  /*Faq item adjust*/
  #faq h1 {
    font-size: 4.5rem;
  }
 
  #faq ul {
    font-size: 2.4rem;
  }
  
  /*Contact apge div adjust*/
  #c-piece-1 {
    width: 70%;
  }
}