/***************************
	 		Media Styles
****************************/

.audio-player-wrapper {
  width: 225px;
  margin: 100px auto;
  background-color: #ddddda;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.audio-player-image {
  position: relative;
  height: 149px;
  -webkit-backface-visibility: hidden; 
}

.audio-player-image img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto; 
}

.audio-player-image img.fading {
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@-webkit-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@-o-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@-ms-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

.audio-player-progress {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  background-color: #a0a7af;
  overflow: hidden; }

.audio-player-progress.loading {
  background-image: -webkit-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-size: 20px 20px;
  -webkit-animation: loadingStripes 700ms linear infinite;
  -moz-animation: loadingStripes 700ms linear infinite;
  -ms-animation: loadingStripes 700ms linear infinite;
  -o-animation: loadingStripes 700ms linear infinite;
  animation: loadingStripes 700ms linear infinite; }

.audio-player-progress-bar {
  -webkit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
  display: block;
  height: 100%;
  width: 0;
  max-width: 100%;
  background-color: #808e97;
  border-radius: 25px; }

.audio-player-button {
  display: block;
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 55px;
  border: 3px solid #808e97;
  opacity: 0.8;
  cursor: pointer; }

.audio-player-button:hover {
  opacity: 1; }

.audio-player-button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  right: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  line-height: 0;
  font-size: 20px;
  color: #808e97; }

.audio-player-button.icon-pause::before {
  font-size: 18px;
  top: 1px;
  left: -15px; }

.audio-player-button.icon-backward::before {
  left: -17px; }

.audio-player-button.small {
  width: 25px;
  height: 25px;
  margin-top: 5px; }

.audio-player-button.small::before {
  font-size: 15px; }

.audio-player-button-wrappers {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 133px;
  margin: 15px auto 0 auto; }

.audio-player-wrapper.error .audio-player-image {
  background: #f78471; }

.audio-player-wrapper.error .audio-player-image:before {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
  content: "Error loading";
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px; }

.audio-player-wrapper.error .audio-player-image > * {
  display: none; }

/*Unfinushed*/
/* HTML Div

			 
			 
			 <div id="audio-player" class="audio-player-wrapper">
			  <div class="audio-player-image">
				 <span class="audio-player-song-name"></span>
			  </div>

			  <div class="audio-player-controls">
				 <span class="audio-player-progress">
					<span class="audio-player-progress-bar"></span>
				 </span>
				 <span class="audio-player-button-wrappers">
					<a role="button" class="audio-player-button small icon-backward"></a>
					<a role="button" class="audio-player-button audio-player-place-pause-button icon-play"></a>
					<a role="button" class="audio-player-button small icon-forward"></a>
				 </span>
			  </div>
			</div>
			 
			 
			 */
