@font-face {
	font-family:'DTM-Sans';
		src:url("../font/dtm-sans.otf");
	
/*
   font-family:'DeterminationMonoWeb';
		src:url("../font/DeterminationMonoWeb.woff");
		
	font-family:'DeterminationSansWeb';
		src:url("../font/DeterminationSansWeb.woff");
			
	font-family:'DTM-Mono';
		src:url("../font/DTM-Mono.opentype");
	
	font-family:'MonsterFriendBack';
		src:url("../font/MonsterFriendBack.opentype"); 
			
	font-family:'MonsterFriendDeluxe';
		src:url("../font/MonsterFriendDeluxe.svg");
*/
}

/*I have no idea what this is for*/

.pad1 {
	min-width: 120px; width: 120px; min-height: 128px; height: 68px; display: inline-block;
}
.pad2 {
	min-width: 127px; width: 127px; min-height: 128px; height: 68px; display: inline-block;
}
.flowey {
	min-width: 88px; width: 88px; background-image: url(../images/floweyBIG.png);  background-repeat: no-repeat; min-height: 121px; height: 61px; display: inline-block;
}
body:after{
    display:none;
    content: url(../images/floweyBIG.png) url(../images/floweymoneyeyesBIG.png) url(../images/floweyhappyBIG.png) url(../images/floweymoneyeyesBIG.png) url(../images/floweymoneyeyesBIG2.png) url(../images/floweycuteBIG.png) url(../images/floweycoolBIG.png) url(../images/floweywinkBIG.png);
}
/*Adding CSS*/

/***************************
	 		Base Styles
****************************/

* {
	box-sizing: border-box;
}

body {
	font-family: dtm-sans;
	margin: auto;
	background: black;
	text-align: center ;
	color: white;
	padding-left: 10%;
}

ul  {
	list-style: none;
}

iframe {
	 border-style: none;
	 border: 0;
}

/***************************
	 		Links
****************************/
a {
  text-decoration: none;
}

/*
a:link{}
a:hover{}
a:active{}
a:visited{}
*/

/***************************
	 		Header
****************************/

/***************************
	 		 Index
****************************/

.frameT {
	 width: 462px;
	 height: 21rem;
}

.frameM {
	 width: 456;
	 height: 21rem;
}

/***************************
	 		 About
****************************/

.a-container {
	font-size: 1.9rem;
	word-spacing: -2px;
	margin-bottom: -100px
}

about li img {
	align-content: center;
	width: 740px;
	padding-left: 0px;
	font-size: 2px;
}

#xscr2 p {
	
	letter-spacing: 3px;
	word-spacing: 1px;
}

#xscr5 span {
	padding-top: 50%;
	word-spacing: -3px;
	color: grey;
	font-size: 1rem;
}

#xscr7 p {
	line-height: em;
}

#xscr5,
#xscr8 {
	margin-bottom: .7em;
}

#xscr12 p {
	margin-bottom: 9.6rem;
}

#a-lol {
	letter-spacing: -2px;
	font-family: 
}

#xscr12-end {
	margin-top: 27em;
}

/***************************
	 		Contact
****************************/

  .contact p {
    font-family: dtm-sans;
    font-size: 2.3em;
  }
  /*Div Piece Customs*/

  #c-piece-1 {
  /*  text-align: left;*/
  }

  #c-piece-unrelated {
    color: #007cd1;
  }
  #c-piece-unrelated a:visited {
    color: #007cd1
  }

  #c-piece-email {
    color: grey;
    font-size: 1em
  }

  #c-piece-email img {
    max-width: 100%;
  }

  #backToFront a:visited {
    color: yellow;
}

  #backToFront {
    color: yellow;
  }

/***************************
	 	Troubleshoot
****************************/

.left {
	 text-align: left;
}

/***************************
	 		Classes
****************************/

.page {
	margin: 0 10%; 
}

.hide {
	 display: none;
}

#logo {
	 display: block;
}

#tune {
	position: fixed;
	bottom: 0;
	left: 0;
	display: none ;
}

/***************************
	 			Flexbox
****************************/

.flexbox, 
.purchase,
.media,
.merch,
.a-container {
	 display: flex;
}
/*Columns*/
.flexbox,
.media {
	 flex-direction: row;
}
/*Rows*/
.purchase,
.merch,
.a-container {
	 flex-flow: column;
	justify-content: center;
}

.frameT {
	flex-grow: 2;
}

/*Middle Purchase Frame*/
.frameM {
	flex-grow: 1;
}

/*Individual Customs*/

/***************************
	 		Footer
****************************/

/**********************************
Magnific jQuery Plugin
***********************************/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

a.magnific:focus {
  outline: none;
}

/***************************
	 		Media Queries
****************************/

@media(min-width:1024px) {
	#xscr4 {
		justify-content: space-between;
	}
}
	

